<app-data-table
  [columns]="columns"
  [rows]="rows()"
  [loading]="loading()"
  emptyMessage="Nenhum lançamento encontrado. Use os filtros acima para pesquisar."
>
  <ng-template appTableCell="horario" let-row>
    {{ row.dataInicio }} – {{ row.dataFim }}
  </ng-template>

  <ng-template appTableCell="usuario" let-row>
    <div class="text-gray-700">{{ row.usuarioNome }}</div>
    <div class="text-xs text-gray-400">Mat. {{ row.usuarioMatricula }}</div>
  </ng-template>

  <ng-template appTableCell="status" let-row>
    <span [class]="statusClass(row.statusId)"
          class="px-2 py-1 rounded-full text-xs font-medium">
      {{ row.status }}
    </span>
  </ng-template>

</app-data-table>