<div>
  <app-page-breadcrumb pageTitle="MPS" />
  <div class="rounded-md border border-gray-200 bg-white dark:border-gray-800 dark:bg-white/[0.03] ">
    <!-- Card Header -->
    <div style="padding: .5rem 1rem !important;">
      <h3 class=" dark:text-white/90" style="font-size: 13px; color: #464545;">
        <i class="fas fa-search" style="color: #17a2b8;"></i> Filtro de Pesquisa
      </h3>
    </div>

    <!-- Card Body -->
    <div class="p-4 border-t border-gray-100 dark:border-gray-800 sm:p-6">
      <div class="flex gap-3">
        <div class="w-5/12">
          <app-label for="txtServidor">Servidor</app-label>
          <app-input-field type="text" id="txtServidor" />
        </div>
        <div class="w-4/12">
          <app-label for="txtCargo">Cargo</app-label>
          <app-input-field type="text" id="txtCargo" />
        </div>
        <div class="w-3/12">
          <app-label for="txtServidor">Ano Vigência</app-label>
          <app-input-field type="text" id="txtServidor" />
        </div>
      </div>
    </div>
  </div>
</div>